### Bibliotecas

In [2]:
import pandas as pd

In [18]:
df = pd.read_csv(r'C:\Users\gm194\Downloads\Dados.csv', encoding= "UTF-8", sep = ";")

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
...,...,...,...,...,...,...,...,...,...
995,996,2575 West 2700 South,NaN,Salt Lake City,74,84101,0xE6100000010C6E9ADC36AF544440AC180B5B4CF85BC0,708FC1DD-4994-4AA5-80A5-8C977C37AA15,2012-06-30 00:00:00.000
996,997,70259 West Sunnyview Ave,NaN,Visalia,9,93291,0xE6100000010C4497C3A5F12542406CD48C5685D35DC0,7C2E0511-DE61-4761-80EA-6A7B2F39E524,2013-07-31 00:00:00.000
997,998,60750 San Clemente,NaN,Hayward,9,94541,0xE6100000010CB2747D1801C94240124DA15E0D885EC0,822DC2BE-AAC2-4283-93A6-5027CFB6A7DF,2013-07-31 00:00:00.000
998,999,Receiving,NaN,Fullerton,9,92831,0xE6100000010C47CB4845F2EA404079A10C358C7F5DC0,93D3C32F-CC26-4F27-B91F-35A804554976,2012-07-31 00:00:00.000
999,1000,22555 Paseo De Las Americas,NaN,San Diego,9,92102,0xE6100000010CA43F3589854540402D8AD214E8385DC0,982BDCC2-6429-4725-A6DF-4FAF032EC908,2012-06-30 00:00:00.000

### Renomeando Colunas

In [7]:
# Esse metodo é para poucas colunas
df_curso = df.rename(columns={
    'DATA INICIAL' : 'data_inicial',
    'DATA FINAL' : 'data_final',
    'REGIÃO' : 'regiao',
    'ESTADO' : 'estado',
    'PRODUTO' : 'produto',
    'NÚMERO DE POSTOS PESQUISADOS' : 'numero_de_postos_pesquisados',
    'UNIDADE DE MEDIDA' : 'unidade_de_medida',
    'PREÇO MÉDIO REVENDA' : 'preco_medio_revenda',
    'DESVIO PADRÃO REVENDA': 'desvio_padrao_revenda',
    'PREÇO MÍNIMO REVENDA' : 'preco_minimo_revenda',
    'PREÇO MÁXIMO REVENDA' : 'preco_maximo_revenda',
    'MARGEM MÉDIA REVENDA' : 'margem_media_revenda',
    'COEF DE VARIAÇÃO REVENDA' : 'coef_variacao_revenda',
    'PREÇO MÉDIO DISTRIBUIÇÃO' : 'preco_medio_distribuicao',
    'DESVIO PADRÃO DISTRIBUIÇÃO': 'desvio_padrao_distribuicao',
    'PREÇO MÍNIMO DISTRIBUIÇÃO' : 'preco_maximo_distribuicao',
    'PREÇO MÁXIMO DISTRIBUIÇÃO' : 'preco_maximo_distribuicao',
    'COEF DE VARIAÇÃO DISTRIBUIÇÃO' : 'coef_variacao_distribuicao'
})
df_curso.columns

Index(['data_inicial', 'data_final', 'regiao', 'estado', 'produto',
       'numero_de_postos_pesquisados', 'unidade_de_medida',
       'preco_medio_revenda', 'desvio_padrao_revenda', 'preco_minimo_revenda',
       'preco_maximo_revenda', 'margem_media_revenda', 'coef_variacao_revenda',
       'preco_medio_distribuicao', 'desvio_padrao_distribuicao',
       'preco_maximo_distribuicao', 'preco_maximo_distribuicao',
       'coef_variacao_distribuicao'],
      dtype='object')

In [8]:
# Renomeando no formato lista
df_curso.columns = ['DATA_inicial', 'DATA_final', 'Regiao', 'Estado', 'Produto',
       'NUMERO_de_postos_pesquisados', 'unidade_de_medida',
       'preco_medio_revenda', 'desvio_padrao_revenda', 'preco_minimo_revenda',
       'preco_maximo_revenda', 'margem_media_revenda', 'coef_variacao_revenda',
       'preco_medio_distribuicao', 'desvio_padrao_distribuicao',
       'preco_maximo_distribuicao', 'preco_maximo_distribuicao',
       'coef_variacao_distribuicao']

### Adicionando Colunas novas

In [13]:
df_curso['cd_peri'] = 202405
df_curso

,DATA_inicial,DATA_final,Regiao,Estado,Produto,NUMERO_de_postos_pesquisados,unidade_de_medida,preco_medio_revenda,desvio_padrao_revenda,preco_minimo_revenda,preco_maximo_revenda,margem_media_revenda,coef_variacao_revenda,preco_medio_distribuicao,desvio_padrao_distribuicao,preco_maximo_distribuicao,preco_maximo_distribuicao,coef_variacao_distribuicao,cd_peri
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,202405
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,202405
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,202405
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,202405
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,202405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,202405
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,202405
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,202405
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,202405
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,202405