In [3]:
import pandas as pd
df = pd.read_csv(r'C:\Users\gm194\Downloads\Dados.csv', encoding= "UTF-8", sep = ";")
df.head(1)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000

## Filtrando dados de um DF

In [5]:
# city_distinct = df['City'].unique()
# print(city_distinct)

df_filtrado = df[(df['City'] == 'Dallas') | (df['City'] == 'Nevada')]
df_filtrado[['City','StateProvinceID']].head(3)

       City  StateProvinceID
24   Dallas               73
26   Nevada               74
324  Dallas               73