In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\gm194\Downloads\Dados.csv', encoding= "UTF-8", sep = ";")
df.head(1)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000

## Ordenando os Dados
<sub>O comando {implace = True}, ele já vai gravar direto no seu df essa ordenação.
Caso não usar o implace, essa ordenação só vai valer para a célula que você esta manipulando
</small>

In [11]:
## Esta opção a ordenação não esta gravada no DF ainda
df_filtrado_temporario = df.sort_values('City').head()

## Essa forma acaba gravando a ordenação no DF
df_filtrado_definitivo = df.sort_values('City', inplace = True)
df.head(1)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
650,651,"New Millhouse, 2583 Milton Park",NaN,Abingdon,14,OX14 4SE,0xE6100000010CA30E22D348C74940997460FF5E81F4BF,E844B847-B0B3-491D-A4F1-0B78F56E4424,2013-07-31 00:00:00.000

## Ordenando de forma crescente
<sub>O comando ascending é ordenador do { Menor para o Maior}. Caso não queira que seja crescente, basta apenas colocar {False no ascending}
</small>

In [21]:
df_filtrado_temporario_1 = df.sort_values('PostalCode', ascending= True)
df_filtrado_temporario_1.head(1)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
769,770,123 Union Square South,NaN,New York,54,10007,0xE6100000010CEF85DA7D4558444099FB5F7FFC8552C0,CEC2AD79-89D2-43A7-BA8C-FB2B11BDC170,2011-07-01 00:00:00.000