### Bibliotecas

In [1]:
import pandas as pd

### Arquivo CSV

In [2]:
df = pd.read_csv(r'C:\Users\gm194\Downloads\Dados.csv', encoding= "UTF-8", sep = ";")
df.head(1)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000

### Selecionando uma ou N Colunas Por Ã­ndice

In [4]:
df['AddressLine1'].head(5)

0           1970 Napa Ct.
1      9833 Mt. Dias Blv.
2    7484 Roundtree Drive
3        9539 Glenside Dr
4           1226 Shoe St.
Name: AddressLine1, dtype: object