In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\gm194\Downloads\Dados_1.csv', encoding= "UTF-8", sep = ",")
df.head(3)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841

## Filtrando dados de um DF

In [6]:
# Função para ver os dados distintos
city_distinct = df['city'].unique()
print(city_distinct)

df_filtrado = df[(df['city'] == 'Porto Alegre') & ((df['area'] == 70) | (df['area'] == 320))]
df_filtrado[['city','area']].head(5)
df_filtrado = df[(df['city'] == 'Porto Alegre') & (df['area'] == 70)]
df_filtrado

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
98,Porto Alegre,70,3,2,1,4,acept,not furnished,490,2500,8,37,3035
108,Porto Alegre,70,2,1,1,3,acept,furnished,360,2400,30,36,2826
454,Porto Alegre,70,2,2,1,6,acept,not furnished,440,1900,57,28,2425
588,Porto Alegre,70,2,1,0,1,acept,not furnished,375,750,26,11,1162
1182,Porto Alegre,70,3,1,1,13,acept,not furnished,500,1300,36,19,1855
1270,Porto Alegre,70,2,1,0,1,acept,furnished,350,1450,120,22,1942
1441,Porto Alegre,70,2,2,2,9,acept,not furnished,535,1600,59,24,2218
2067,Porto Alegre,70,2,1,0,-,acept,furnished,270,1800,23,27,2120
2902,Porto Alegre,70,2,1,1,3,acept,furnished,450,1800,63,27,2340
2967,Porto Alegre,70,2,2,1,2,acept,not furnished,400,2200,92,33,2725
3114,Porto Alegre,70,2,1,0,3,not acept,furnished,300,1800,0,27,2127
3622,Porto Alegre,70,1,1,0,3,not acept,not furnished,150,850,46,13,1059
3781,Porto Alegre,70,3,2,0,-,acept,not furnished,290,1500,0,22,1812
3982,Porto Alegre,70,2,2,0,7,acept,furnished,600,3100,50,46,3796
4668,Porto Alegre,70,2,1,1,11,acept,not furnished,400,1350,28,20,1798
4898,Porto Alegre,70,2,2,2,3,not acept,not furnished,700,1900,67,28,2695
4969,Porto Alegre,70,2,1,1,2,acept,furnished,100,1360,100,20,1580
5109,Porto Alegre,70,2,1,0,12,acept,not furnished,500,1105,84,17,1706
5139,Porto Alegre,70,2,2,2,12,acept,not furnished,500,1800,0,27,2327
5577,Porto Alegre,70,2,2,0,4,not acept,furnished,250,1550,42,23,1865
5970,Porto Alegre,70,2,1,1,2,acept,not furnished,390,930,45,14,1379
6440,Porto Alegre,70,2,2,0,3,not acept,furnished,400,1995,80,30,2505
6756,Porto Alegre,70,2,1,0,-,acept,not furnished,350,1300,42,19,1711
7091,Porto Alegre,70,2,1,0,8,acept,furnished,400,1200,34,18,1652
7654,Porto Alegre,70,3,2,1,7,acept,not furnished,530,2300,111,34,2975
7970,Porto Alegre,70,1,1,1,8,not acept,furnished,650,1050,34,16,1750
8311,Porto Alegre,70,2,2,0,4,acept,not furnished,330,1410,59,21,1820
8402,Porto Alegre,70,1,2,0,-,not acept,not furnished,0,1500,59,27,1586
8555,Porto Alegre,70,2,1,0,-,acept,not furnished,360,1150,15,17,1542
8699,Porto Alegre,70,2,1,0,-,acept,not furnished,320,1200,65,18,1603
8850,Porto Alegre,70,2,2,2,11,acept,not furnished,700,3300,115,49,4164
8932,Porto Alegre,70,2,2,1,2,acept,not furnished,500,2720,75,40,3335
8974,Porto Alegre,70,3,1,1,3,acept,not furnished,424,1100,0,17,1541
9047,Porto Alegre,70,2,1,0,9,acept,not furnished,0,1750,0,26,1776
9571,Porto Alegre,70,2,1,0,3,acept,not furnished,300,1400,59,21,1780
9586,Porto Alegre,70,2,1,1,8,acept,furnished,520,1900,378,28,2826
9615,Porto Alegre,70,3,1,1,9,not acept,not furnished,325,1800,0,27,2152
10076,Porto Alegre,70,2,1,0,3,acept,not furnished,350,1500,49,20,1919
10110,Porto Alegre,70,3,2,0,2,acept,furnished,300,2240,59,33,2632