### Bibliotecas

In [3]:
import pandas as pd

### Arquivo CSV

In [4]:
df = pd.read_csv(r'C:\Users\gm194\Downloads\Dados.csv', encoding= "UTF-8", sep = ";")
df.head(1)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000

### Selecionando uma ou N Colunas Por índice

In [5]:
df['AddressLine1'].head(5)

# Varias colunas
df[['City','AddressLine1','StateProvinceID']]

               City                 AddressLine1  StateProvinceID
0           Bothell                1970 Napa Ct.               79
1           Bothell           9833 Mt. Dias Blv.               79
2           Bothell         7484 Roundtree Drive               79
3           Bothell             9539 Glenside Dr               79
4           Bothell                1226 Shoe St.               79
..              ...                          ...              ...
995  Salt Lake City         2575 West 2700 South               74
996         Visalia     70259 West Sunnyview Ave                9
997         Hayward           60750 San Clemente                9
998       Fullerton                    Receiving                9
999       San Diego  22555 Paseo De Las Americas                9

[1000 rows x 3 columns]