In [3]:
import pandas as pd
df = pd.read_csv(r'C:\Users\gm194\Downloads\Dados.csv', encoding= "UTF-8", sep = ";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AddressID        1000 non-null   int64
 1   AddressLine1     1000 non-null   object
 2   AddressLine2     48 non-null     object
 3   City             1000 non-null   object
 4   StateProvinceID  1000 non-null   int64
 5   PostalCode       1000 non-null   object
 6   SpatialLocation  1000 non-null   object
 7   rowguid          1000 non-null   object
 8   ModifiedDate     1000 non-null   object
dtypes: int64(2), object(7)
memory usage: 70.4+ KB

## Loc
<sub>loc: Use para selecionar colunas pelo rótulo(Nome da coluna). Não aceita **intervalos numéricos** a menos que os rótulos sejam números.

**Exemplo:**

-- Você pode selecionar colunas usando os rótulos: --
```python
df.loc[:, ['A', 'C']]

--Isso NÃO funcionará, pois '1:3' não é um rótulo válido:
df.loc[:, 1:3] # Isso resultará em um erro, pois '1:3' é um índice, não um rótulo válido

In [4]:
## Aqui coloco os indices e as colunas que eu quero trazer
df.loc[1:7,['City','PostalCode']]

## Trazendo todas as linhas das colunas City e PostalCode
df.loc[:,['City','PostalCode']]

,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
...,...,...,...,...,...
995,74,84101,0xE6100000010C6E9ADC36AF544440AC180B5B4CF85BC0,708FC1DD-4994-4AA5-80A5-8C977C37AA15,2012-06-30 00:00:00.000
996,9,93291,0xE6100000010C4497C3A5F12542406CD48C5685D35DC0,7C2E0511-DE61-4761-80EA-6A7B2F39E524,2013-07-31 00:00:00.000
997,9,94541,0xE6100000010CB2747D1801C94240124DA15E0D885EC0,822DC2BE-AAC2-4283-93A6-5027CFB6A7DF,2013-07-31 00:00:00.000
998,9,92831,0xE6100000010C47CB4845F2EA404079A10C358C7F5DC0,93D3C32F-CC26-4F27-B91F-35A804554976,2012-07-31 00:00:00.000
999,9,92102,0xE6100000010CA43F3589854540402D8AD214E8385DC0,982BDCC2-6429-4725-A6DF-4FAF032EC908,2012-06-30 00:00:00.000

## Iloc
<sub>iloc: Use para selecionar linhas e colunas pelo **índice numérico**. Aceita intervalos de índices.

**Exemplo:**

-- Você pode selecionar colunas usando índices numéricos: --
```python
df.iloc[:, [0, 2]]  # Seleciona as colunas de índice 0 e 2

--Isso NÃO funcionará se você tentar usar rótulos com iloc:
df.iloc[:, ['A', 'C']]  #  Isso resultará em erro , pois isso é o nome da coluna e não o índice

In [7]:
## Aqui estou selecionando os índices nas linhas e as colunas
df.iloc[0:3, 0:3]
## Ou trazendo pela ordem das colunas
df.iloc[:,4:9]

,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
...,...,...,...,...,...
995,74,84101,0xE6100000010C6E9ADC36AF544440AC180B5B4CF85BC0,708FC1DD-4994-4AA5-80A5-8C977C37AA15,2012-06-30 00:00:00.000
996,9,93291,0xE6100000010C4497C3A5F12542406CD48C5685D35DC0,7C2E0511-DE61-4761-80EA-6A7B2F39E524,2013-07-31 00:00:00.000
997,9,94541,0xE6100000010CB2747D1801C94240124DA15E0D885EC0,822DC2BE-AAC2-4283-93A6-5027CFB6A7DF,2013-07-31 00:00:00.000
998,9,92831,0xE6100000010C47CB4845F2EA404079A10C358C7F5DC0,93D3C32F-CC26-4F27-B91F-35A804554976,2012-07-31 00:00:00.000
999,9,92102,0xE6100000010CA43F3589854540402D8AD214E8385DC0,982BDCC2-6429-4725-A6DF-4FAF032EC908,2012-06-30 00:00:00.000